body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main > section.items h4 {
    text-align: center;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    padding-top: 20px;
}

main > section.items {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    padding: 20px;
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    justify-content: center;

}

section.items .product {
    border: 1px solid lightgrey;
    margin: 6px;
    flex: 0 0 calc(33.333% - 24px);
    cursor: pointer;
    text-align: center;
}

section.items .product.selected {
    border: 2px solid rgb(29, 134, 233);

}

section.items .photo img {
    max-width: 90px;
}

section.items .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
}

section.items  .description .price {
    font-weight: bold;
    margin: 4px auto;
}

section.items  .description .quantity-area {
    margin: 8px auto;
    height: 14px;
}

section.items  .description .quantity-area button {
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.items  .description .quantity-area .quantity {
    font-weight: bold;
    margin: 0 10px;
}


section.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: rgb(245, 245, 245);
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    padding: 24px 20px 20px 20px;
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    text-align: center;
}

section.summary table {
    width: 100%;
    padding-top: 12px;
    font-size: 13px;
    margin: auto;
}

section.summary table tbody tr:last-of-type th {
    border-top: 1px solid black;
    padding-top: 10px;
}


main > section.footer {
    display: flex;
    justify-content: center;
    align-items:center;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    text-align: center;
    font-size: calc(8px + 2vmin);
    border-radius: .25rem;
}



